.main{
    min-height: 100vh;
    width: 100%;

}

.dashContainer {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.viewMeProcess {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.viewMeProcess h2{
    margin-bottom: 20px
}

.processList {
    overflow: auto;
    max-width: 95%;
    max-height: 70%;
    border-radius: 15px
}

.processCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #798842;
    background-color: #798842;
    border-radius: 10px;
    padding: 10px;
    color: white;
    margin-bottom: 1px
}

.processCard h3{
    text-align: start;
    padding-bottom: 10px
}

.dataProcessCard{
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 1rem;
}

.dataValue {
    margin-right: 15px
}

.dataValue p{
    font-size: 0.8rem
}

.cardEditButton{
    display: flex;
    flex-direction: column;
    gap: 10px
}

.cardEditButton button{
    color: #798842;
    background: white;
    padding: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold
}

.cardEditButton button:hover{
    color: white;
    background: #798842;
    border: 1px solid white
}


.addProcess {
    background-color: #798842;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.addProcess h2{
    margin-bottom: 20px;
    color: white
}

.editorProcess {
    display: flex;
    flex-direction: column
}

.editorProcess h3{
    font-weight: regular;
    font-size: 16px;
}

.editorProcess input{
    width: 100%;
    padding: 16px 12px;
    border: 1px solid #E2E8F0;
    border-radius: 4px;
    margin-bottom: 16px
}

.editorProcess select{
    width: 100%;
    padding: 16px 12px;
    border: 1px solid #E2E8F0;
    border-radius: 4px;
    margin-bottom: 16px
}

.editorProcess button{
    margin: 16px 0 0 0;
    padding: 16px 24px;
    border-radius: 4px;
    border: none;
    color: #778740;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.buttonsBox {
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 5px
}

.registerButton:hover{
    background-color: #778740;
    color: white;
    border: 1px solid white
}

.editButton {
    background-color: yellow
}

.editButton:hover {
    background-color: #778740;
    color: yellow;
    border: 1px solid yellow
}

.cleanButton{
    background-color: red
}

.cleanButton:hover {
    background-color: #778740;
    color: red;
    border: 1px solid red
}

.editorLabel {
    color: white;
    text-align: start;
    margin-bottom: 5px
}

.editorDataNumbers {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
}

.alertRegister {
    color: red;
    font-weight: bold;
    margin-top: 5px;
    font-size: 1rem;
}

.viewSubscribeds {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.viewSubscribeds h2{
    margin-bottom: 60px
}

.listSubscribeds {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    gap: 3px;
}

.subscribedCard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color:  #798842;
    padding: 10px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    width: 100%
}

.fieldSubscribedCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.Selections{
    display: flex;
    gap: 30px;
    margin-top: 20px

}

.fieldSubscribedCard p:first-child{
    padding-bottom: 10px
}
.fieldSubscribedCard a{
    text-decoration: none;
    color: white
}
.fieldSubscribedCard a:hover{
    text-decoration: none;
    color: green
}