.main {
  width: 100%;
  min-height: 100vh;
}

.presentationContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.boxImg {
  margin-right: 40px;
  width: 40%;
}

.boxImg img{
  height: 400px;
  width: 100%;
  object-fit: cover;
  overflow: hidden;

  border-radius: 102px 94px 123px 200px;
  -moz-border-radius: 102px 94px 123px 200px;
  -webkit-border-radius: 102px 94px 123px 200px;
  border: 0px solid #000000;
}

.presentationContent {
  width: 20%;
}

.presentationContent h2{
  margin-bottom: 10px;
  font-size: 2rem
}

.mouseImg{
  position: absolute;
  bottom: 0;
}

.mouseImg img{
  height: 80px
}

.scholarshipsContainer {
  background-color: #798842;
  width: 100%;
  text-align: center;
  padding-bottom: 40px
}

.scholarshipsContainer h1{
  color: white;
  padding-top: 100px;
  margin-bottom: 60px
}

.scholarshipsCards{
  padding: 0 8%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.scholarshipsCard{
  background-color: white;
  border-radius: 15px;
  cursor: pointer;
  -webkit-box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.75);
}

.scholarshipsCard img{
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.contentCard h3{
  margin: 10px 0 10px 0;
  /* text-align: start */
}

.descriptionCard{
  padding: 5px 40px 5px 40px;
  color: #8D8D8D
}

.dataCard {
  display: grid;
  grid-template-columns: 0.7fr 0.7fr 1fr 1fr;
  margin-top: 10px;
}

.valueDataCard {
  border-top: 1px solid #E4E4E4;
  border-right: 1px solid #E4E4E4;
  padding: 10px 0
}

.valueDataCardLast {
  border-top: 1px solid #E4E4E4;
  padding: 10px 0
}

.keyDataCard {
  color: #798842;
  font-size: 1rem;
  padding-top: 5px
}